<header class="masthead">
  <div class="row">
    <div class="col-md-12">
      <img src='/assets/header.png' width="100%"/>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/">La boîte à envies</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01"  ngbDropdownToggle>Produits</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/products/bracelet">Bracelets</a>
          <a class="dropdown-item" routerLink="/products/montre">Montres</a>
          <a class="dropdown-item" routerLink="/products/bijoux">Boucles d'oreilles et colliers</a>
          <a class="dropdown-item" routerLink="/products/accessoire">Accessoires</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
