<header class="masthead d-none d-md-block">
  <div class="row">
    <div class="col-md-12">
      <img src='/assets/header.jpeg' width="100%" alt="la boîte à envies"/>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/">La boîte à envies</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/bracelet">Bracelets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/montre">Montres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/bijoux">Boucles d'oreilles et colliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/accessoire">Accessoires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">A propos</a>
      </li>
    </ul>
    <fb-like href="https://la-boite-a-envies.fr" layout="button_count" share="true"></fb-like>
  </div>
</nav>
