<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="La boite a envies" width="100%">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="la boite a envies accessoires cuir" width="100%">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="la boite a envies bracelets cuir" width="100%">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="la boite a envies bracelets cuir" width="100%">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[4]" alt="la boite a envies bracelets liberty" width="100%">
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[5]" alt="la boite a envies accessoires cuir" width="100%">
  </ng-template>
</ngb-carousel>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/">La boîte à envies</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/bracelet">Bracelets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/collier">Colliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/boucle">Boucles d'oreille</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/accessoire">Accessoires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">A propos</a>
      </li>
    </ul>
    <fb-like href="https://la-boite-a-envies.fr" layout="button_count" share="true"></fb-like>
  </div>
</nav>
