<div class="row">
  <div class="col-md-10 col-sm-12 offset-md-1">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Merci pour votre commande !</h1>
      <p class="lead">Votre commande est bien passée</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-4">
          <img class="rounded-circle" src='http://res.cloudinary.com/dgtsw7ufe/image/upload/v1533820448/divers/anne_so.jpg' width="100%">
        </div>
        <div class="col">
          <p>Votre commande est bien enregistrée, je vous l'expédie par courrier !</p>
          <p>Vous recevrez très prochainement le numéro de suivi de votre colis dans votre interface Paypal.</p>
          <p>J'espère que l'article vous plaira. J'y apporte tout mon soin et ma créativité, pour que vous puissiez disposer d'un produit unique, à votre image.</p>
        </div>
      </div>
    </div>
  </div>
</div>