<div class="row" *ngIf="products.length == 0">
  <div class="col-md m-2">
    <div class="jumbotron">
      <h1 class="display-4">Plus de stock</h1>
      <p class="lead">Il n'y a plus de produits à afficher</p>
      <hr class="my-4">
      <p>Je ne fais pas de grandes séries, mais au contraire du sur mesure. La disponibilité de mes produits varie donc. Revenez plus tard, j'en remettrai en ligne dès que j'aurai du stock !</p>
      <p>Ou alors, plutôt que de prendre un produit en stock, expliquez moi ce qui vous ferait plaisir et je m'en charge !</p>
      <a class="btn btn-light" (click)="goBack()" role="button">&lt;&lt; Retour</a>
    </div>
  </div>
</div>
<div class="row shadow p-3 m-3 bg-white rounded" *ngFor="let product of products.slice(page *10 -10 , page*10)" >
  <div class="col-md-3">
    <img src="{{product.image}}"  class="img-thumbnail">
  </div>
  <div class='col-md'>
      <div class="row">
        <div class="col-md">
          <h5><a [routerLink]="['/detail', product.id]">{{product.title}}</a></h5>
          <hr>
          <p>{{product.description}}</p>
        </div>
      </div>
      <div class="row navbar-fixed-bottom">
          <div class="col-md">
              <p class="text-right"><strong>{{product.prix}} EUR</strong></p>
          </div>
        </div>
  </div>
</div>
<div class="row" *ngIf="products.length > 10">
  <div class="col-md">
      <ngb-pagination [collectionSize]="products.length" [(page)]="page" class="d-flex justify-content-center"></ngb-pagination>
  </div>
</div>
