<div class="row" *ngIf="products.length == 0">
  <div class="col-md m-2">
    <div class="jumbotron">
      <h1 class="display-4">Plus de stock</h1>
      <p class="lead">Il n'y a plus de produits à afficher</p>
      <hr class="my-4">
      <p>Je ne fais pas de grandes séries, mais au contraire du sur mesure. La disponibilité de mes produits varie donc. Revenez plus tard, j'en remettrai en ligne dès que j'aurai du stock !</p>
      <p>Ou alors, plutôt que de prendre un produit en stock, expliquez moi ce qui vous ferait plaisir et je m'en charge !</p>
      <a class="btn btn-light" (click)="goBack()" role="button">&lt;&lt; Retour</a>
    </div>
  </div>
</div>
<div class="row shadow p-3 m-3 bg-white rounded clickable" (click)="openDetails(product)" *ngFor="let product of products" >
  <div class="col-md-3">
    <img src="{{product.image}}"  class="img-thumbnail">
  </div>
  <div class='col-md'>
        <h5>{{product.title}}</h5>
        <p>{{product.description}}</p>
  </div>
</div>
