<div class="row mt-4">
  <div class="col-6 col-sm-3">
    <img class="rounded-circle" src="/assets/images/IMG_4267.JPG" alt="rubrique bracelets" width="140" height="140">
    <h2>Bracelets</h2>
    <p>En cuir ou en tissu, avec fermoirs griffes ou magnétiques... Il y en a pour toutes les tailles, couleurs et envies.</p>
    <p><a class="btn btn-secondary" href="#" role="button">Voir mes créations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-sm-3">
    <img class="rounded-circle" src="/assets/images/IMG_4263.JPG" alt="rubrique montres" width="140" height="140">
    <h2>Montres</h2>
    <p>Pour être à l'heure, nos montres, tout comme nos bracelets sont faites sur mesure en fonction de votre humeur, tenue....</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-sm-3">
    <img class="rounded-circle" src="/assets/images/IMG_4231.JPG" alt="Generic placeholder image" width="140" height="140">
    <h2>Boucles d'oreilles et colliers</h2>
    <p>Pour ajouter une touche colorée à vos tenues, je réalise pour vous les boucles d'oreilles et colliers assortis à vos envies du moment.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-sm-3">
    <img class="rounded-circle" src="/assets/images/IMG_4273.JPG" alt="Generic placeholder image" width="140" height="140">
    <h2>Accessoires</h2>
    <p>Qu'il s'agisse de porte-clefs pour la fête des mères, de porte monnaie, de cadeaux pour le maitre d'école de vos enfants, vous trouverez tout cela ici ! </p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
