<div class="row">
  <div class="col-md m-2">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue dans la boîte à envies</h1>
      <p class="lead">Vous trouverez sur ce site des exemples de mes dernières créations. Explorez, profitez et surtout n'hésitez pas me contacter !</p>
      <hr class="my-4">
      <p>La création c'est avant tout pour moi une passion, celle de réaliser mes envies mais aussi les votres. Toutes les pièces que vous verrez sur ce site sont des pièces uniques. Il se peut donc que d'un passage à l'autre, le contenu change en fonction des disponibilités.</p>
      <p>Si vous ne trouvez pas votre bonheur parmi ce qui est présenté, n'hésitez pas à me contacter. Une très grosse partie de mes réalisations sont faites sur mesure, pour des commandes particulières et ne figurent pas sur ce site. Venez parler avec moi de ce qui vous ferait plaisir</p>
      <p>Si mes produits vous ont plu, partagez avec vos amis, c'est un geste de soutien qui m'aide beaucoup à développer mon activité ! <div class="fb-like" data-href="https://la-boite-a-envies.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      <p>Si vous n'êtes pas fan des réseaux sociaux, n'hésitez pas à me <a href="mailto:laboiteaenvies@gmail.com">joindre par mail</a></p>  
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-6 col-md-3">
    <div class="text-center mb-2">
      <a routerLink="/products/bracelet" ><img class="rounded-circle" src="/assets/images/IMG_4267.JPG" alt="rubrique bracelets" width="140" height="140"></a>
    </div>
    <h2>Bracelets</h2>
    <p>En cuir ou en tissu, avec fermoirs griffes ou magnétiques... Il y en a pour toutes les tailles, couleurs et envies.</p>
    <p><a class="btn btn-secondary" routerLink="/products/bracelet" role="button">Voir mes créations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-md-3">
    <div class="text-center mb-2">
      <a routerLink="/products/montre"><img class="rounded-circle" src="/assets/images/IMG_4263.JPG" alt="rubrique montres" width="140" height="140"></a>
    </div>
    <h2>Montres</h2>
    <p>Pour être à l'heure, nos montres, tout comme nos bracelets sont faites sur mesure en fonction de votre humeur, tenue....</p>
    <p><a class="btn btn-secondary" routerLink="/products/montre" role="button">Voir mes créations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-md-3">
    <div class="text-center mb-2">
      <a routerLink="/products/bijoux"><img class="rounded-circle" src="/assets/images/IMG_4231.JPG" alt="rubrique bijoux" width="140" height="140"></a>
    </div>
    <h2>Boucles d'oreilles et colliers</h2>
    <p>Pour ajouter une touche colorée à vos tenues, je réalise pour vous les boucles d'oreilles et colliers assortis à vos envies du moment.</p>
    <p><a class="btn btn-secondary" routerLink="/products/bijoux" role="button">Voir mes créations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-6 col-md-3">
    <div class="text-center mb-2">
      <a routerLink="/products/accessoire"><img class="rounded-circle" src="/assets/images/IMG_4273.JPG" alt="rubrique accessoire" width="140" height="140"></a>
    </div>
    <h2>Accessoires</h2>
    <p>Qu'il s'agisse de porte-clefs pour la fête des mères, de porte monnaie, de cadeaux pour le maitre d'école de vos enfants, vous trouverez tout cela ici ! </p>
    <p><a class="btn btn-secondary" routerLink="/products/accessoire" role="button">Voir mes créations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
