<div class="row">
  <div class="col-md m-2">
    <div class="jumbotron">
      <h1 class="display-4">L'entreprise</h1>
      <p class="lead">Toutes les questions que vous vous posez sur la boîte à envies...</p>
      <hr class="my-4">
      <p>
        Je m'appelle Anne-Sophie, j'habite en Franche Comté et je suis maman de 3 enfants. <BR>
        Passionnée par le travail manuel depuis des années, j'ai décidé d'ouvrir ma micro entreprise pour créer des bijoux et accessoires de maroquinnerie.<BR>
        Ceci me permet de donner libre cours à ma créativité et d'en faire profiter les autres.<BR>
        Mon plus grand plaisir est de pouvoir vous proposer des articles que vous ne trouverez pas ailleurs.
      </p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col m-2">
      <h4>Mentions légales</h4>
      <p>Coordonnées de l'entreprise :</p>
      <p>La boîte à envies<BR>
          Anne-Sophie Gadot<BR>
          1A rue du mavuron<BR>
          25490 BADEVEL<BR>
          <a href="mailto:laboiteaenvies@gmail.com">laboiteaenvies@gmail.com</a>
      </p>
      <p>La boîte à envies est une micro entreprise immatriculée au registre des métiers sous le numéro SIRET : 841 386 055 00013</p>
      <p>Le site web est hébergé par <a href="https://netlify.com">https://netlify.com</a></p>    
    </div>
  </div>
